// Titles
.title {
	font-weight: 700;
	color: #BE67DD;
}

h1.title{
	margin-bottom: 1.5rem;
	padding-left: 2.5rem;
}

// Paragraphs
.paragraph {
	font-weight: 400;
	color: #F8F4EE;
}

// Code
.code {}

// Blockquote
.blockquote {
	font-weight: 700;
	color: #D7CA6D;
}

// Italics
.italic {
	font-weight: 700;
	color: #ECE272;
}

// Bold
.bold {
	font-weight: 700;
	color: #FD963F;
}

// Lists
.list-item {
	font-weight: 400;
	color: #F8F4EE;
}

// Links
.link-ancora {
	font-weight: 700;
	color: #F35152;
}
.link-url {
	font-weight: 700;
	color: #69DFC6;
}

// imagem
.image-ancora{
	font-weight: 700;
	color: #F35152;
}
.image-url{
	font-weight: 700;
	color: #69DFC6;
}

// Images