// Linguagens
.typescript-pill {
  background-color: #007acc;
}
.javascript-pill {
  background-color: #f0db4f;
}
.java-pill {
  background-color: #007396;
}
.python-pill {
  background-color: #3776ab;
}
.php-pill {
  background-color: #8892be;
}
.ruby-pill {
  background-color: #cc342d;
}
.csharp-pill {
  background-color: #239120;
}
.cplusplus-pill {
  background-color: #00599c;
}
.c-pill {
  background-color: #a8b9cc;
}
.html-pill {
  background-color: #e44d26;
}
.css-pill {
  background-color: #264de4;
}
.sass-pill {
  background-color: #cc6699;
}
.less-pill {
  background-color: #1d365d;
}

// Banco de Dados
.mysql-pill {
  background-color: #4479a1;
}
.postgresql-pill {
  background-color: #336791;
}
.mongodb-pill {
  background-color: #47a248;
}
.sqlite-pill {
  background-color: #003b57;
}
.oracle-pill {
  background-color: #f80000;
}
.sqlserver-pill {
  background-color: #cc2927;
}

// Ferramentas
.bash-pill {
  background-color: #4eaa25;
}
.zsh-pill {
  background-color: #1a2c34;
}
.vim-pill {
  background-color: #019733;
}
.vscode-pill {
  background-color: #007acc;
}
.eclipse-pill {
  background-color: #2c2255;
}
.intellij-pill {
  background-color: #000000;
}
.sublime-pill {
  background-color: #ff9532;
}
.postman-pill {
  background-color: #ff6c37;
}
.insomnia-pill {
  background-color: #5849be;
}
.docker-pill {
  background-color: #2496ed;
}
.kubernetes-pill {
  background-color: #326ce5;
}

// Frameworks
.angular-pill {
  background-color: #dd0031;
}
.react-pill {
  background-color: #61dafb;
}
.vue-pill {
  background-color: #42b883;
}
.node-pill {
  background-color: #339933;
}
.bootstrap-pill {
  background-color: #7952b3;
}
.material-ui-pill {
  background-color: #0081cb;
}
.tailwindcss-pill {
  background-color: #38b2ac;
}
.spring-pill {
  background-color: #6db33f;
}
.flask-pill {
  background-color: #000000;
}

// Cloud
.aws-pill {
  background-color: #232f3e;
}
.azure-pill {
  background-color: #0089d6;
}
.gcp-pill {
  background-color: #4285f4;
}
.heroku-pill {
  background-color: #430098;
}
.netlify-pill {
  background-color: #00c7b7;
}
.vercel-pill {
  background-color: #000000;
}

// Vercionamento
.github-pill {
  background-color: #181717;
}
.gitlab-pill {
  background-color: #fc6d26;
}
.bitbucket-pill {
  background-color: #0052cc;
}

// CI/CD
.jenkins-pill {
  background-color: #d24939;
}
.circleci-pill {
  background-color: #343434;
}
