<app-editor-header [languageIcon]="'html5'" [pageName]="'index.html'" />

<main class="codeblock">
	<app-line>
		<span class="label start-section">.socials</span>
	</app-line>
	<app-line>
		<span class="value-gap label">linkedin</span>
		<span class="value">teste</span>
	</app-line>
	<app-line>
		<span class="value-gap label">github</span>
		<span class="value">teste</span>
	</app-line>
	<app-line>
		<span class="value-gap label">twitter</span>
		<span class="value">teste</span>
	</app-line>
	<app-line>
		<span class="value-gap label">email</span>
		<span class="value">teste</span>
	</app-line>
	<app-line>
		<span class="value-gap label">phone</span>
		<span class="value">teste</span>
	</app-line>
	<app-line>
		<span class="end-section"></span>
	</app-line>
</main>