<app-editor-header [languageIcon]="'typescript'" [pageName]="'social.ts'" />

<main class="codeblock">
	<section>
		<app-line>
			<span class="title"># Redes Sociais</span>
		</app-line>

		<app-line/>

		<app-line>
			<span class="label start-section">.socials</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">youtube</span>
			<a href="https://www.youtube.com/@wiriswernek" target="_blank" class="value">&#64;wiriswernek</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">github</span>
			<a href="https://github.com/WirisWernek" target="_blank" class="value">&#64;wiriswernek</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">instagram</span>
			<a  href="https://www.instagram.com/wiriswernek/" target="_blank" class="value">&#64;wiriswernek</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">twitch</span>
			<a href="https://www.twitch.tv/lost905" target="_blank" class="value">&#64;lost905</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">linkedin</span>
			<a href="https://www.linkedin.com/in/wiriswernek/" target="_blank" class="value">&#64;wiriswernek</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">email</span>
			<a href="mailto:wiriswernek@gmail.com" target="_blank" class="value">wiriswernek&#64;gmail.com</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">whatsapp</span>
			<a [href]="whatsapp" target="_blank" class="value">vamos_conversar</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">telefone</span>
			<a href="tel:55289998014672" target="_blank" class="value">ligar</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="value-gap value-label">cartao_de_visitas</span>
			<a  download="cartao-digital-wiriswernek.pdf" href="files/cartao-de-visitas-interativo.pdf" target="_blank" class="value">baixar_cartao</a>
		</app-line>
		<app-line>
			<span class="value-gap value-label">contato</span>
			<a href="files/Wiris_Rafael_Januario_Wernek.vcf" target="_blank" class="value">salvar_contato</a>
			<span class="delimiter">,</span>
		</app-line>
		<app-line>
			<span class="end-section"></span>
		</app-line>
	</section>

	<section>
		<form class="row g-3">
			<span class="title"># Vamos Conversar</span>
			<div class="col-md-6">
			  <label for="inputName" class="form-label">Nome</label>
			  <input type="text" class="form-control" id="inputName">
			</div>
			<div class="col-md-6">
			  <label for="inputEmail" class="form-label">Email</label>
			  <input type="email" class="form-control" id="inputEmail">
			</div>
			<div class="col-12">
			  <label for="inputSubject" class="form-label">Assunto</label>
			  <input type="text" class="form-control" id="inputSubject">
			</div>
			<div class="col-12">
			  <label for="inputMessage" class="form-label">Mensagem</label>
			  <textarea class="form-control" id="inputMessage" rows="3"></textarea>
			</div>
			<div class="col-12">
			  <button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		  </form>
	</section>
</main>